nav {
    width: 200px; /* Ancho del menú */
    margin-left: 20px; /* Margen izquierdo para separar el menú del contenido */
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    position: relative;
  }
  
  nav ul li > ul {
    display: none;
    position: absolute;
    top: 100%; /* Posición del submenú */
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #ddd;
  }
  
  nav ul li > ul li {
    position: relative;
  }
  
  nav ul li > ul li a {
    display: block;
    padding: 10px;
    background-color: #ccc;
    color: #333;
    text-decoration: none;
  }
  
  nav ul li > input[type="checkbox"]:checked + ul {
    display: block;
  }