* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.7rem;
}

.container {
  position: relative;
  padding-top: 100px;
  padding-left: 80px;
}

a {
  text-decoration: none;
}

/* Nav Page */

.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
  font-size: 1.4rem;
  background-color: rgb(255, 67, 34);
}

.logo {
  width: 75px;
  margin-right: 390px;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0px 20px;
  cursor: pointer;
  color: white;
}

.navbar input {
  margin-left: 100px;
  border: none;
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #ffffffeb;
}

/* Landing Page */
.img {
  position: absolute;
  top: -0px;
  right: 90px;
  width: 450px;
  display: flex;
  height: auto;
  border-radius: 0px 0px 300px 300px;
}

.texto1 {
  margin-top: 50px;
  color: rgb(255, 67, 34);
  font-weight: 300;
}

.texto2 {
  color: rgb(100, 89, 93);
  font-weight: 800;
}

/* Categorias */

.menu-recetas {
  margin-top: 25vw;
  margin-left: -6vw;
}

.menu-recetas ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e6dca9;
  padding: 30px;
}

.menu-recetas li {
  list-style: none;
  margin-bottom: 30px;
  text-align: center;
  cursor: pointer;
}

.menu-recetas img {
  display: block;
  width: 50vw;
  border-radius: 50%;
  max-width: 200px;
  height: 200px;
  object-fit: cover;
  border: solid 10px rgb(255, 67, 34);
  margin-bottom: 30px;
}

.menu-recetas img:hover {
  transition: 2s;
  transform: rotate(360deg) ;
}

.menu-recetas a {
    color: #343434;
}


/* Iframe Recetas */

#iframe-categorias {
    width: 100%;
    height: 115vw;
    border: none;
}

.contenedor-flecha {
    display:flex;
    position: relative;
    margin-left: 70vw;
    margin-top:-57.5vw

}

.listado-recetas {
    margin: 50px auto;
    width: 70%;
    position: auto;
}

.receta-item {
    display: inline-block;
    width: 90%;
    margin: 25px auto 25px auto;
    text-align: left;
    background-color: #f9f6ea;
    padding: 20px;
}

.receta-item img {
    width: 60vw;
    border-radius: 5%;
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    border: solid 2px rgb(100, 89, 93);
    float: left;
    margin-right: 30px;
}

.receta-item-titulo > p{
    margin:40px 0 20px;
    color: #ada57f;
}
.receta-item-titulo > h3{
    color: #413e30;
}
.receta-item-titulo > h5{
    margin: 15px 0;
    color: #827c5f;
    font-weight:400;
}


/* Footer */

.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e6dca9;
  height: 8vw;
  padding: 20px;
}

.seguinos {
  margin-bottom: 10px;
}

.iconos {
  list-style: none;
}

.iconos li {
  display: inline-block;
  margin-right: 10px;
}

.icono-img {
  width: 2.4vw;
  cursor: pointer;
}

.info {
  justify-content: flex-end;
}
.github {
  color: #575757;
}

/* Responsive */

/* Para pantallas de celulares y tablets */
@media screen and (max-width: 1230px) {
  .img {
    position: static;
    display: block;
    margin: auto;
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-top: -100px;
  }
  .container {
    padding-left: 0px;
    text-align: center;
  }
  .navbar {
    justify-content: center;
    padding: 10px;
  }
  .logo {
    margin-right: 0px;
    width: 15vw;
  }
  .navbar input {
    flex-direction: column;
    margin-left: 0px;
    margin-top: 10px;
    width: 100%;
  }
  .navbar ul {
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 10px 10px;
  }
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 2.2rem;
  }
  .menu-recetas img {
    height: 50vw;
  }
  #iframe-categorias {
    height: 645vw;
  }
  .receta-item {
    justify-content: center;
    text-align: center;
  }
  .receta-item img {
    justify-content: center;
    text-align: center;
    max-width: 120vw;
  }
  .contenedor-flecha {
    display:flex;
    position: relative;
    margin-left: 30vw;
    margin-top: 0vw
  }
  .footer-container {
    height: 40vw;
  }
  .icono-img {
    width: 6vw;
  }
}

/* Para pantallas de monitores a partir de 22 pulgadas */
@media screen and (min-width: 1400px) {
  .img {
    width: 70%;
    max-width: 600px;
    height: auto;
    border-radius: 0px 0px 500px 500px;
  }
  .texto1 {
    margin-top: 80px;
    font-size: 2.5rem;
  }
  .texto2 {
    max-width: 600px;
    font-size: 50px;
  }
  .logo {
    margin-right: 780px;
  }
}

/* Para pantallas de monitores a partir de 14 pulgadas */
@media screen and (min-width: 1100px) {
  .texto2 {
    max-width: 600px;
  }
}
