* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.7rem;
}


.container {
    position: relative;
    padding-top: 100px;
    padding-left: 80px;
}

a {
    text-decoration: none;
}

/* Nav Page */

.navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    font-size: 1.4rem;
    background-color: rgb(255, 67, 34);
}

.logo {
    width: 75px;
    margin-right: 390px;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
.navbar li {
    margin: 0px 20px;
    cursor: pointer;
    color: white;
}
  
.navbar input {
    margin-left: 100px;
    border: none;
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #ffffffeb;
}


/* Landing Page */
.img {
    position: absolute;
    top: -0px;
    right: 90px;
    width: 450px;
    display: flex;
    height: auto;
    border-radius: 0px 0px 300px 300px;
}

.texto1 {
    margin-top: 50px;
    color: rgb(255, 67, 34);
    font-weight: 300;
}

.texto2 {
    color: rgb(100, 89, 93);
    font-weight: 800;
}

/* Categorias */

.menu-recetas {
    margin-top: 25vw;
    margin-left: -6vw;
}

.menu-recetas ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e6dca9;
    padding: 30px;
}
  
.menu-recetas li {
    list-style: none;
    margin-bottom: 30px;
    text-align: center;
    cursor: pointer;
}
  
.menu-recetas img {
    display: block;
    width: 50vw;
    border-radius: 50%;
    max-width: 200px;
    height: 200px; 
    object-fit: cover;
    border: solid 10px rgb(255, 67, 34);
    margin-bottom: 30px;
}

/* Iframe Recetas */

#iframe-categorias {
    width: 100%;
    height: 20vw;
    border: none;
}

#iframe-receta {
    display: block;
    border: none;
    width: 100%;
    height: 100%;
    min-height: 40rem;
    margin: 0;
    padding: 0;
  }
  

/* Footer */
.contacto {
    width: 30%;
}

.footer-container {
    background-color: #e6dca9;
    display: flex;
}


/* Página de Contacto */
.contacto {
    width: 50%;
    margin: auto;
    padding: 100px 0px;
    text-align: center;
}
.imagen-contacto {
    width: 27%;
    margin-bottom: 30px;
}

.contacto h3 {
    color: rgb(255, 67, 34);
    padding: 60px 0px;
}

.contacto-input, .contacto-textarea {
    width: 80%;
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid rgb(255, 67, 34);
    border-radius: 5px;
}

.contacto-input{
    height: 30px;
}

.contacto-textarea {
    height: 150px;
}

.contacto-input:focus, .contacto-textarea:focus {
    border: 3px solid rgb(255, 67, 34);
    outline: none;
}

.btn {
  background: #fc7244;
  background-image: -webkit-linear-gradient(top, #fc7244, #ff4322);
  background-image: -moz-linear-gradient(top, #fc7244, #ff4322);
  background-image: -ms-linear-gradient(top, #fc7244, #ff4322);
  background-image: -o-linear-gradient(top, #fc7244, #ff4322);
  background-image: linear-gradient(to bottom, #fc7244, #ff4322);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  border:none;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background: #ff4322;
  background-image: -webkit-linear-gradient(top, #ff4322, #ff4124);
  background-image: -moz-linear-gradient(top, #ff4322, #ff4124);
  background-image: -ms-linear-gradient(top, #ff4322, #ff4124);
  background-image: -o-linear-gradient(top, #ff4322, #ff4124);
  background-image: linear-gradient(to bottom, #ff4322, #ff4124);
  text-decoration: none;
}

/* Responsive */

/* Para pantallas de celulares y tablets */
@media screen and (max-width: 1230px) {
    .img {
        position: static;
        display: block;
        margin: auto;
        width: 100%;
        max-width: 200px;
        height: auto;
        margin-top: -110px;
    }
    .container {
        padding-left: 0px;
        text-align: center;
    }
}

/* Para pantallas de monitores a partir de 22 pulgadas */
@media screen and (min-width: 1400px) {
    .img {
        width: 70%;
        max-width: 600px;
        height: auto;
        border-radius:  0px 0px 500px 500px;
    }
    .texto1 {
        margin-top: 80px;
        font-size: 2.5rem;
    }
    .texto2 {
        max-width: 600px;
        font-size: 50px;
    }
    .logo {
        margin-right: 800px;
    }

}


/* Para pantallas de monitores a partir de 14 pulgadas */
@media screen and (min-width: 1100px) {
    .texto2 {
        max-width: 600px;
    }
}