* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.quienes-somos {
    width: 50vw;
    font-size: 1.3rem;
    text-align: center;
    margin: 3.4vw auto;
}

.quienes-somos p {
    margin-bottom: 2vw;
}

@media screen and (min-width: 1400px) {
    .quienes-somos {
        width: 70vw;
        font-size: 1.7rem;
        margin: 7.68vw auto;
    }
}