.ingredientes,
.procedimiento {
  margin-left: 7vw;
  margin-top: 3vw;
}

.ingredientes h1 {
  color: rgb(255, 67, 34);
  font-size: 2.2em;
  width: 40vw;
}

.ingredientes h6 {
  color: rgb(126, 126, 126);
  font-size: 0.8em;
  margin-bottom: 2vw;
}

.ingredientes p,
.procedimiento p {
  font-size: 1.2rem;
  margin-top: 1vw;
  margin-bottom: 0.5vw;
  color: rgb(77, 76, 76);
}

.ingredientes ul {
  width: 40vw;
}

.procedimiento {
  margin-bottom: 3vw;
  width: 45vw;
}
.receta-img {
  position: absolute;
  top: 10vw;
  right: 10vw;
  width: 450px;
  display: flex;
  height: auto;
} 

.imagen {
  border-radius: 2vw;
  border: solid 2px grey;
}

@media screen and (max-width: 1230px) {
  .receta-img {
    position: absolute;
    top: 55vw;
    left: 15vw;
    width: 30vw;
  }
  .imagen {
    width: 70vw;
  }
  .ingredientes {
    margin-top: 90vw;
    margin-left: 40px;
  }
  .ingredientes h1 {
    width: 70vw;
    margin-bottom: 10px;
  }
  .ingredientes p, .ingredientes ul{
    margin-top: 20px;
    width: 80vw;
  }
  .ingredientes h6, .ingredientes h4 {
    width: 60vw;
  }
  .procedimiento ol {
    width: 70vw;
    margin-top: 4vw;
  }
  .procedimiento {
    margin-top: 11vw;
    margin-left: 40px;
    margin-bottom: 20vw;
  }

}